h1 {
    color: rgb(255, 255, 255);
  }
  h2 {
    color: rgb(0, 0, 0);
  }
h3 {
 color: #e2e2ff;
}
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #000000;
    padding-top: 70px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  nav a {
    text-decoration: none; /* Remove underline from links */
    color: #000000;
    padding: 15px;
    display: inline-block;
  }
  
  nav a:hover {
    background-color: #000000;
    transition: all 0.4s ease-in-out;
  }
  
  
  .menu-item {
    text-decoration: none;
    color: #a5a5a5;
    padding: 15px; /* Increased padding */
    display: inline-block;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
  }
  
  .menu-item:hover {
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
  }
  

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 20px;
    border: 2px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; /* Centra la sección horizontalmente */
    margin-right: auto; /* Centra la sección horizontalmente */
    width: 45%; /* O el ancho que desees */
  }
  


  
  #informacion {
    text-align: justify;
  }
  
  #habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #proyectos ul li a {
    text-decoration: none;
    color: #333;
  }
  
  #proyectos ul li a:hover {
    text-decoration: underline;
  }
  
  #sociales {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #sociales li {
    list-style: none;
    display: inline-block;
    padding: 5px;
  }
  
  #sociales li a {
    text-decoration: none;
    color: #000000;
  }
  
  #sociales li a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
  }

  